<div class="col -10 offset-1 about">
    <h1>About Splurty</h1>


    <p>
      Splurty was built by <a target="_Stephen" href="http:https://github.com/StephenM07/the-vault">Stephen</a> A Student Developer trying to chase his dreams one line at a time.
    </p>
    <p>
      One day he will be a developer gym master.
    </p>
    <p>
       Do you want to learn to code too? you can! - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
    </p>

     <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Stephen Macias</h2>
      <br />
      <p>
       Stephen is a avid music enthusiast that enjoys basketball, outdoor activities, and spending time with friends and family outside of his passion for coding
      </p>
    </div>
  </div>
  <br class="clear" />



</div>

<br class="clear" />
<br />
<br />
<br />
<br />

